BACKEND_PORT=55332
FRONTEND_PORT=55333
JWT_KEY=change_me_at_least_32_chars_long_secret
JWT_ISSUER=DBarberApi
JWT_AUDIENCE=DBarberClient
APP_CONNECTION_STRING=Server=host.docker.internal;Port=3306;Database=dbarber;User Id=dbarber_app;Password=CHANGE_ME;SslMode=Disabled;AllowPublicKeyRetrieval=True
FRONTEND_PUBLIC_URL=http://139.100.225.234:55333
VITE_API_URL=
TELEGRAM_BOT_TOKEN=
TELEGRAM_ADMIN_CHAT_ID=

