BACKEND_PORT=55332
FRONTEND_PORT=55333
JWT_KEY=change_me_at_least_32_chars_long_secret
JWT_ISSUER=DBarberApi
JWT_AUDIENCE=DBarberClient
APP_CONNECTION_STRING=server=host.docker.internal;port=3306;database=dbarber;user=dbarber_app;password=CHANGE_ME;Allow User Variables=True
FRONTEND_PUBLIC_URL=http://139.100.225.234:55333
VITE_API_URL=
TELEGRAM_BOT_TOKEN=
TELEGRAM_ADMIN_CHAT_ID=
